body {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: center;
}

header h1 {
    text-align: center;
    min-height: 50px;
    align-self: flex-end;
}

nav {
    display: flex;
    min-height: 50px;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

button {
    max-height: 25px;
}

main {
    display: flex;
    justify-content: space-around;
    min-height: 700px;
}

.playarea {
    min-width: 100px;
    border-radius: 10px;
    background-color: aqua;
    margin: 5px;
    text-align: center;
    line-height: 100px;
    flex-grow: 1;
  }

.game {
    min-width: 500px;
  }

.gameboard {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(75px, 150px));
    grid-template-rows: repeat(3, minmax(75px, 150px));
    gap: 2px;
    
}

.gametile {
    background-color: rgb(255, 255, 255);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background-color: rgb(167, 167, 167);
}