body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

nav {
    display: flex;
    min-height: 50px;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.button {
    max-height: 30px;
    width: 125px;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #fff, #ddd3c1);
    border: 0 solid #e5e7eb;
    border-radius: 10px;
    color: #482307;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    box-shadow: -6px 8px 10px rgba(81,41,10,0.1),0px 2px 2px rgba(81,41,10,0.2);
}

.button:hover {
    transition-duration: 0.1s;
    opacity: 0.8;
  }

.button:active{
    transform: scale(.90);
}

main {
    display: grid;
    grid-template-columns: 0.5fr 600px 0.5fr;
    grid-template-rows: 650px;
}

.playarea {
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
    flex-grow: 1;
    border-radius: 10px;
    margin: 0;
  }

.game {
    display: flex;
    flex-direction: column;
    background-color:rgb(255, 255, 255);
    border: #482307 4px solid;
    max-width: 600px;
  }

#responseToPlayer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 75px;
    background-color: rgb(126, 99, 65);
    border-radius: 2px;
}

#response {
    font-size: 32px;
    color: #fff;
    margin: 0;
}

#board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 10px;
    
}

.gametile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 213, 176);
    font-size: 120px;

}

.gametile:hover {
    border: #482307 1px solid;
}

.gametile:active {
    transform: scale(0.95);
}

.sideBar {
    display: flex;
    margin: 0;
    padding: 80px 30px;
}

.scoreTag {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    min-height: 75px;
    min-width: 120px;
    margin: 20px 0;
    border-radius: 15px;
    padding: 0 10px;
}

.scoreCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #482307 2px solid;
    width: 50px;
    height: 50px;
}

.buttonglow {
    animation: glowing 1000ms infinite;
  }

@keyframes glowing {
    0% {
      background-color: rgb(196, 171, 141);
      box-shadow: 0 0 10px rgb(196, 171, 141);
    }
    50% {
      background-color: #482307;
      box-shadow: 0 0 25px #482307;
    }
    100% {
      background-color: rgb(196, 171, 141);
      box-shadow: 0 0 10px rgb(196, 171, 141);
    }
  }


.sideTitle {
    text-decoration: underline;
    font-size: 28px;
    font-weight: 400;
    margin: 0;
    padding: 20px 0;
}

.players {
    font-size: 50px;
    margin: 0;
    padding: 20px 0;
}

.playersInfo {
    display: flex;
    align-items: flex-end;
    margin: 0;
}

.scores {
    align-items: baseline;
    font-size: large;
    margin: 0;
}

h4 {
    font-size: 24px;
    margin: 0;
}

footer {
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 30px;
    margin: 20px 0px;
    background-color: rgb(167, 167, 167);
}

.highlightPlayer {
    font-size: 40px;
}

.noInteractions{
    pointer-events: none;
}

.unmuted {
    position: absolute;
    background-image: url("../../Images/Unmuted.png");
    background-size: contain;
    right: 10px;
    width: 50px;
    height: 50px;
    margin: 0;
}

.muted {
    position: absolute;
    background-image: url("../../Images/Muted.png");
    background-size: contain;
    right: 10px;
    width: 50px;
    height: 50px;
    margin: 0;
}

.winGlow { 
    animation: winning 1000ms 3;
}

@keyframes winning {
    50% {font-size: 160px;}
}
